@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

html,
body,
#root {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Cormorant Garamond", serif;
  --font-body: "DM Sans", sans-serif;
  --color-pink: #FF3CAC;
  --color-purple: #784DFF;
  --color-mint: #00D9A3;
  --color-white: #F5F0EB;
  --color-dark: #0D0C0A;
}